.star_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: none;
}
.ment_hugger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ment_hugger img{
    width:25px;
    margin-bottom:30px;
}
.subtext{
    color: rgb(230, 230, 230);
    margin-top:10px;
}