.container{
    width:490px;
}
.text_input_hugger input{
    font-size: 20px;
    margin: 7px 0 10px 0;
    width:95%;
    height:30px;
    padding:10px;
    border-radius: 10px;
    border:2px solid white;
    outline: none;
}
.text_input_hugger input::placeholder{
    font-size: 20px;
    color:rgb(200, 200, 200);
}
#login_submitbtn {
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-top: 50px;
    width:100%;
    height:50px;
    padding:10px;
    border-radius: 8px;
    border:none;
    background-color:rgb(200, 200, 200);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.finding_pwd_hugger{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.finding_pwd{
    text-decoration: none;
    color: gray;   
    font-size: 15px;  
}