.modal_overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal_box {
  background: #fff;
  border-radius: 20px;
  width: 450px;
  height: 220px; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal_content {
  padding: 30px 20px 0 20px;
  text-align: center;
  flex-grow: 1; /* 콘텐츠가 공간을 다 차지하게 */
}

.modal_title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 3px;
  color: rgba(0, 0, 0, 1);
}

.modal_image {
  width: 16px;
  height: 16px;
  margin: 15px auto 12px;
}

.modal_subtext {
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 0, 0, 0.5);
  margin:10px 0 20px 0;
}

.modal_buttons {
  display: flex;
  width: 100%;
  height: 85px;
}
.modal_button {
  flex: 1;
  display: flex; /* flex 적용 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  height: 85px;
  text-align: center;
  transition: background-color 0.3s ease;
}


.modal_button.left_btn {
  border-right: 1px solid #ddd; /* 버튼 사이 경계선 */
  background-color: #f0f0f0;
  color: #333;
  border-bottom-left-radius: 20px; 
  border-top: 1px solid rgba(239, 239, 239, 1); 
}

.modal_button.left_btn:hover {
  background-color: #ddd;
}

.modal_button.right_btn {
  background-color: #a48be7;
  color: rgba(255, 255, 255, 1);
  border-bottom-right-radius: 20px;
  border-top: 1px solid rgba(164, 139, 231, 1); 
}

.modal_button.right_btn:hover {
  background-color: #9169d9;
}
