* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html, body 높이 100% 지정 */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.main_layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.content_area {
  display: flex;
  flex: 1; 
  overflow: auto; /* 넘칠 시 스크롤 가능 */
}

.content_left {
  flex-basis: 50%;
  background-color: #f0f0f0; /* 🚫나뉜 부분 보기 편하도록 - 나중에 지우기 */
  padding: 20px;
  overflow-y: auto;
}

.content_right {
  flex-basis: 50%;
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto;
}

.sidebar_nav {
  width: 5vw;
  min-width: 50px;
  max-width: 60px;
  height: 100vh; /* 화면 전체 높이 */
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.nav_button {
  writing-mode: vertical-rl; /* 텍스트 세로쓰기, 오른쪽에서 왼쪽 방향 */
  flex-basis: 25%; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav_button1 {
  background-color: rgba(255, 255, 255, 1); 
  border: 1px solid rgba(221, 221, 221, 1); 
  color: rgba(0, 0, 0, 1);
}

.nav_button2 {
  background-color: rgba(237, 232, 250, 1);
  border: 1px solid rgba(237, 232, 250, 1); 
  color: rgba(0, 0, 0, 1);
}

.nav_button3 {
  background-color: rgba(164, 139, 231, 0.6); 
  border: 1px solid rgba(200, 185, 241, 1); 
  color: rgba(0, 0, 0, 1);
}

.nav_button4 {
  background-color: rgba(164, 139, 231, 0.9); 
  border: 1px solid rgba(174, 151, 234, 1); 
  color: rgba(0, 0, 0, 1);
}

/* 호버 효과 */
.nav_button1:hover {
  background-color: rgba(255, 255, 255, 1);
}

.nav_button2:hover {
  background-color: rgba(255, 255, 255, 1);
}

.nav_button3:hover {
  background-color: rgba(255, 255, 255, 1);
}

.nav_button4:hover {
  background-color: rgba(255, 255, 255, 1);
}

.top_section {
  height: 60px; 
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  top: 0;               /* 상단 고정 */
  left: 0;
  right: 0;
}

.top_bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo_image {
  height: 37px; 
  width: 127px;
}
