{% extends "../example/base_side_left.html" %}
{% load static %}

{% block plus_style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/alarm_page.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/mypage_main.css' %}" />
{% endblock plus_style %}

{% block pageName %}
  알림
{% endblock pageName %}

{% block left %}
<div class="topbarhugger">
  <img src="{% static 'assets/img/icon.png' %}" alt="아이콘" class="icon_image" />
  <a href="{% url 'frontend:cyclepage' %}">
    <img src="{% static 'assets/img/to_home.png' %}" alt="홈으로" class="tohome_image" />
  </a>
</div>
<div class="pipihugger">
  <img src="{% static 'assets/img/phone_pipi.png' %}" alt="폰을 든 피피" class="phone_pipi" />
  <p class="pipi_says">어떤 알림이 왔는지 확인해 볼까요? 피피</p>
</div>
{% endblock left %}
{% block right %}
  <div class="alarmhugger">
    {% for notification in notification_list %}
      <div class="bubble left" id="bubble{{ forloop.counter }}">
        <div class="timestamp">{{ notification.created_at|timesince }} 전</div>
        <div class="content_line">
          <div class="message_text">
            {% if notification.category == 1 %}
              {{ notification.sender__nickname }}가 친구 요청을 보냈어요
            {% elif notification.category == 2 %}
              {{ notification.sender__nickname }}가 내 친구 요청을 수락했어요
            {% elif notification.category == 3 %}
              {{ notification.sender__nickname }}가 내 친구 요청을 거절했어요
            {% elif notification.category == 4 %}
              {{ notification.sender__nickname }}가 내 운동 리뷰에 반응을 남겼어요
            {% elif notification.category == 5 %}
              {{ notification.sender__nickname }}가 운동을 재촉하며 콕 찔렀어요
            {% endif %}
          </div>

          {% if notification.category == 1 %}
            <div class="btns">
              <!-- 수락 폼 -->
              <form method="post" action="{% url 'friends:create_accept_friend' id=notification.sender__id %}">
                {% csrf_token %}
                <button type="submit">수락</button>
              </form>
              <!-- 거절 폼 -->
              <form method="post" action="{% url 'friends:create_reject_friend' id=notification.sender__id %}">
                {% csrf_token %}
                <button type="submit">거절</button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <div class="pipi_null_img">
        <img src="{% static 'assets/img/mypage_icon.png' %}" alt="알림X피피이미지" />
      </div>
    {% endfor %}
  </div>
{% endblock right %}
