{% extends "../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/page_component.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/cycle.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/page_common.css' %}" />
{% endblock style %} 

{% block script %}
<script src="{% static 'functions/component_functions/calendar_component.js' %}"></script>
<script src="{% static 'functions/page_functions/cycle_page.js' %}"></script>
{% endblock script %}


{% block body %}
<body>

      {% block header %}
        {% include "../components/header_component.html" %}
      {% endblock header %}
    
    <main class="main_layout">
    <section class="content_area">

        <section class="star_background">
            <span class="star star5"></span> <span class="star star6"></span> <span class="star star7"></span> <span class="star star8"></span>
            <span class="star star9"></span> <span class="star star10"></span> <span class="star star11"></span> <span class="star star12"></span>
            <span class="star star13"></span> <span class="star star14"></span> <span class="star star15"></span> <span class="star star16"></span>

                         
          </section>
        
      <section class="content_left">
        {% block infobox %}
        {% include "../components/infobox_component.html" %}
        {% endblock infobox %}

        <div class="calendar_wrapper">
          {% block calendar %}
          {% include "../components/calendar_component.html" %}
          {% endblock calendar %}
        </div>
        
        {% block friendbox %}
        {% include "../components/friendbox_component.html" %}
        {% endblock friendbox %}

      </section>
      
    <nav class="sidebar_nav" aria-label="페이지 네비게이션">
      <a href="/cyclepage" class="nav_button nav_button1">주 기 별</a>
      <a href="/scrappage" class="nav_button nav_button2">스 크 랩</a>
      <a href="/periodpage" class="nav_button nav_button3">월 경</a>
    </nav>

      <section class="content_right">
        <!-- 오른쪽 컨텐츠 영역 -->

         <div class="text_box">
            <div class="text_image_wrapper">
              <span class="text_1">오늘의 주기는 </span>
              <span class="text_2">월경기 </span>
              <span class="text_3">입니다</span>
              <img src="{% static 'assets/img/cycle_logo.png' %}" alt="로고" class="cycle_logo" />
            </div>
          </div>

          <div class="toggle_box">
            <div class="toggle_text_wrapper">
              <h2 class="main_text">AI 운동 루틴 추천</h2>
              <label class="switch">
                <input type="checkbox" id="toggleSwitch" checked />
                <span class="slider">
                  <span class="toggle_text on_text">운동</span>
                  <span class="toggle_text off_text">휴식</span>
                </span>
              </label>
            </div>
          </div>

          <div class="slider-container">
          <div class="slider-track">
            <div class="slider-fill" id="fillTrack"></div>
            <div class="slider-time" id="timeLabel">0m</div>
          </div>
          <input type="range" min="0" max="4" step="1" value="0" id="customSlider">
          </div>
          <div class="routine_hugger">
            <div id="list_prev">
              <img src="{% static 'assets/img/left.png' %}" alt="왼쪽">
            </div>
            <div class="per_routine_list">
            {% include "../components/routine_list_component.html" %}
            </div>
            <div id="list_next">
              <img src="{% static 'assets/img/right.png' %}" alt="오른쪽">
            </div>
            <div class="startbtn_hugger">
              <button type="submit" value="운동 시작하기" id="start_btn" disabled>운동 시작하기</button>
            </div>
          </div>
        </section>
    </section>


  </main>
</body>

{% endblock body %}