{% extends "../example/base_side_left.html" %}

{% load static %}

{% block plus_style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/finished_routine.css' %}" />
{% endblock plus_style %}

{% block plus_script %}
<script src="{% static 'functions/component_functions/routine_list_component.js' %}"></script>
{% endblock plus_script %}

{% block pageName %}
운동리뷰
{% endblock pageName %}

{% block left %}
<div class="how_it_was">
  <img src="{% static 'assets/img/recognizing_pipi.png' %}" alt="놀란 피피" class="pipi" />
  <p class="asking">운동은 어떠셨나요?</p>
  <p>운동 리뷰를 남기고 친구들과 소통해보세요!</p>
  <div class="routine_hugger">{% include "../components/routine_list_component.html" %}</div>
</div>
{% endblock left %}

{% block right %}
  {% include "../components/review_component.html" with data=data index=forloop.counter0 %}
  <br />
  <div class="btn_hugger">
  <a href="{% url 'frontend:cyclepage' %}">운동 바로가기</a>
    <button type="submit" value="운동 스크랩하기" id="scrap_btn">운동 스크랩하기</button>
  </div>
{% endblock right %}
