{% extends "../example/base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/null.css' %}" />
<link rel="stylesheet" href="{% static 'styles/component_styles/page_component.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/onboarding_1.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/mypage_main.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/finished_routine.css' %}" />
{% endblock style %}

{% block script %}
<script src="{% static 'functions/component_functions/routine_list_component.js' %}"></script>
{% endblock script %}

{% block body %}
<body>
  <header class="top_section">
    <section class="top_bar">
      <a href="{% url 'frontend:cyclepage' %}">
        <img src="{% static 'assets/img/logo.png' %}" alt="로고" class="logo_image" />
      </a>
    </section>
  </header>
  <main class="main_layout">
    <section class="content_area">
      <section class="content_left">
        <div class="how_it_was">
          <img src="{% static 'assets/img/recognizing_pipi.png' %}" alt="놀란 피피" class="pipi" />
          <p class="asking">운동은 어떠셨나요?</p>
          <p>운동 리뷰를 남기고 친구들과 소통해보세요!</p>
          <div class="routine_hugger">{% include "../components/routine_list_component.html" %}</div>
        </div>
      </section>
      <nav class="sidebar_nav" aria-label="페이지 네비게이션">
        <p class="nav_button nav_button1">운 동 리 뷰</p>
        <div class="nav_line"></div>
        <div class="nav_line"></div>
      </nav>
      <section class="content_right">
        <section class="star_background">
          <span class="star star5"></span> <span class="star star6"></span> <span class="star star7"></span>
          <span class="star star8"></span> <span class="star star9"></span><span class="star star11"></span>
          <span class="star star12"></span> <span class="star star13"></span> <span class="star star14"></span>
          <span class="star star15"></span> <span class="star star16"></span>
        </section>
        <!-- 오른쪽 컨텐츠 영역 -->
        {% include "../components/review_component.html" with data=data index=forloop.counter0 %}
        <br />
        <div class="btn_hugger">
        <a href="{% url 'frontend:cyclepage' %}">운동 바로가기</a>
          <button type="submit" value="운동 스크랩하기" id="scrap_btn">운동 스크랩하기</button>
        </div>
      </section>
    </section>
  </main>
</body>
{% endblock body %}