{% extends "../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/page_component.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/friend_page.css' %}" />
<link rel="stylesheet" href="{% static 'styles/component_styles/modal_component.css' %}">
{% endblock style %} 

{% block script %}
<script src="{% static 'functions/page_functions/friend_page.js' %}"></script>
<script src="{% static 'functions/component_functions/calendar_basic.js' %}"></script>
{% endblock script %}


{% block body %}
<body>

    {% block header %}
        {% include "../components/header_component.html" %}
    {% endblock header %}
    
    <main class="main_layout">
    <section class="content_area">
        <div class="center_image_wrapper">
            <img src="{% static 'assets/img/page.png' %}" alt="가운데 배너" class="center_image" />
        </div>

        {% block bg %}
        {% include "../components/bg_component.html" %}
        {% endblock bg %}

    </section>
        
      <section class="content_left"> 
        {% block infobox %}
        {% include "../components/infobox_friend.html" %}
        {% endblock infobox %}

        <div class="calendar_wrapper">
          {% block calendar %}
          {% include "../components/calendar_component.html" %}
          {% endblock calendar %}
        </div>

        {% block friendbox %}
        {% include "../components/friendbox_component.html" %}
        {% endblock friendbox %}

      </section>

      <section class="content_right">
        {% if data_list %}
        <div class="review_hugger">
          <img src="{% static 'assets/img/pipi.png' %}" alt="피피" class="pipi_image" />
          <div class="friends_review">
          <h2><span>운동 리뷰</span></h2>
            {% for data in data_list %}
            <div class="per_review">
                {% include "../components/reviewed_review_component.html" with data=data index=forloop.counter0 %}
            </div>
            {% endfor %}
          </div>
        {% else %}
            <div class="right_image_wrapper">
              <img src="{% static 'assets/img/mypage_bg.png' %}" alt="캐릭터 배경 이미지" class="bg_image" />
              <img src="{% static 'assets/img/mypage_icon.png' %}" alt="오른쪽 캐릭터" class="right_icon" />
              <div class="text_box">
                <p class="text_in_box">친구야, 운동하자 피피! 콕 찔러볼까요?</p>
              </div>
              <img id="clickImg" src="{% static 'assets/img/click_before.png' %}" alt="콕 찌르기 이미지" class="click_image" onclick="changeBgImage()" />
            </div>
        {% endif %}
        </div>
      </section>
    </section>

    <nav class="sidebar_nav" aria-label="페이지 네비게이션">
      <a href="/cyclepage" class="nav_button nav_button1">주 기 별</a>
      <a href="/scrappage" class="nav_button nav_button2">스 크 랩</a>
      <a href="/periodpage" class="nav_button nav_button3">월 경</a>
    </nav>
  </main>
</body>
{% include "../components/modal_component.html" %}
{% endblock body %}
