{% extends "../example/base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/page_component.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/rest.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/page_common.css' %}" />
{% endblock style %}

{% block script %}
<script src="{% static 'functions/page_functions/cycle_page.js' %}"></script>
{{ exercise_reviews|json_script:"exercise_reviews" }}
{{ menstruation_cycle|json_script:"menstruation_cycle" }}
{% endblock script %}

{% block body %}
<body>
  {% block header %}
    {% include "../components/header_component.html" %}
  {% endblock header %}
  <main class="main_layout">
    <section class="content_area">
      <section class="star_background">
        <span class="star star5"></span> <span class="star star6"></span> <span class="star star7"></span>
        <span class="star star8"></span> <span class="star star9"></span> <span class="star star10"></span>
        <span class="star star11"></span> <span class="star star12"></span> <span class="star star13"></span>
        <span class="star star14"></span> <span class="star star15"></span> <span class="star star16"></span>
        <span class="star star17"></span> <span class="star star20"></span>
      </section>
      <section class="content_left">
        {% block infobox %}
          {% include "../components/infobox_component.html" %}
        {% endblock infobox %}
        <div class="calendar_wrapper">
          {% block calendar %}
            {% include "../components/calendar_component.html" %}
          {% endblock calendar %}
        </div>
        {% block friendbox %}
          {% include "../components/friendbox_component.html" %}
        {% endblock friendbox %}
      </section>
      <nav class="sidebar_nav" aria-label="페이지 네비게이션">
        <a href="/cyclepage" class="nav_button nav_button1">운 동</a>
        <a href="/scrappage" class="nav_button nav_button2">스 크 랩</a>
        <a href="/periodpage" class="nav_button nav_button3">월 경</a>
      </nav>
      <section class="content_right">
        <!-- 오른쪽 컨텐츠 영역 -->
        <div class="toggle_box">
          <div class="toggle_text_wrapper">
            <h2 class="main_text">AI 운동 루틴 추천</h2>
            <label class="switch">
              <input type="checkbox" id="toggleSwitch" />
              <span class="slider">
                <a class="toggle_text off_text" href="/cyclepage"> 휴식 </a>
              </span>
            </label>
          </div>
          <div class="bottom_text_wrapper">
            <p class="bottom_text">
              <span class="line1">오늘 몸 상태 괜찮으신가요? 힘들다면 하루 쉬어가도 좋아요</span><br />
              <span class="line2">피피가 휴식 패턴을 학습 중이에요</span>
            </p>
          </div>
          <div class="right_image_wrapper">
            <img src="{% static 'assets/img/rest_pipi.png' %}" alt="피피 휴식 이미지" class="pipi_rest" />
          </div>
        </div>
      </section>
    </section>
  </main>
</body>
{% endblock body %}