{% extends "../../example/base_side_right.html" %}
{% load static %} 
{% block plus_style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/make_friends_pages/friends_confirm.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/make_friends_pages/friended.css' %}" />
{% endblock plus_style %} 

{% block mainMessage %}
  친구 이름이 <span id="username">{{ receiver_user.nickname }}</span>님 맞으신가요?<br>
  아니라면 뒤로가기 버튼을 눌러 수정해주세요
{% endblock mainMessage %}
{% block left %}
<div class="before_page"><a href="{% url 'frontend:makefriends' %}">
  <img src="{% static 'assets/img/left.png' %}" alt="뒤로가기" class="left_right"/>
</a></div>
{% endblock left %}
{% block right %}
        <div class="email_finder_hugger">
          <img src="{{ receiver_user.profile_image.url }}" alt="프로필 사진" class="profile_image" />
          <p id="usernickname">{{ receiver_user.nickname }}</p>

          <form method="post" action="{% url 'friends:create_accept_friend' receiver_user.id %}">
            {% csrf_token %}
            <button type="submit" id="friend_confirmbtn">친구 추가</button>
          </form>
        </div>
{% endblock right %}
