<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
</head>
<body>
  <section>
    <ul>
    {% for ai_exercise_routine in ai_exercise_routines %}
      <li>
        <table>
          <thead>
            <tr>
              <th>순서</th>
              <th>운동</th>
              <th>난이도</th>
            </tr>
          </thead>
          <tbody>
            {% for item in ai_exercise_routine %}
            <tr>
              <td><img width="50px" src="{{item.exercise.image1}}" /></td>
              <td>{{item.order}}</td>
              <td>{{item.exercise}}</td>
              <td>{{item.difficulty}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form
          action="{% url 'exercises:test_exercise_start' %}"
          method="post"
        >
          {% csrf_token %}
          <input name="exercise_routine" type="hidden" value="{{ ai_exercise_routine|safe }}" />
          <button type="submit">운동하기</button>
        </form>
        <form
          action="{% url 'exercises:scrapped_exercise_routine_create' %}"
          method="post"
        >
          {% csrf_token %}
          <input name="exercise_routine" type="hidden" value="{{ ai_exercise_routine|safe }}" />
          <button type="submit">스크랩 추가</button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <ul>
      {% for scrapped_exercise_routine in scrapped_exercise_routines %}
        <li>
          <p>{{scrapped_exercise_routine.scrapped_at}} {{scrapped_exercise_routine.exercise_routine_duration|duration:"(i분)"}}</p>
          <table>
            <thead>
              <tr>
                <th>순서</th>
                <th>운동</th>
                <th>난이도</th>
              </tr>
            </thead>
            <tbody>
              {% for item in scrapped_exercise_routine.exercise_routine %}
              <tr>
                <td><img width="50px" src="{{item.exercise.image1}}" /></td>
                <td>{{item.order}}</td>
                <td>{{item.exercise}}</td>
                <td>{{item.difficulty}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <form
            action="{% url 'exercises:test_exercise_start' %}"
            method="post"
          >
            {% csrf_token %}
            <input name="exercise_routine" type="hidden" value="{{ scrapped_exercise_routine.exercise_routine|safe }}" />
            <button type="submit">운동하기</button>
          </form>
          <form
            action="{% url 'exercises:scrapped_exercise_routine_delete' scrapped_at=scrapped_exercise_routine.scrapped_at %}"
            method="post"
          >
            {% csrf_token %}
            <button type="submit">스크랩 삭제</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <ol>
      {% for exercise_history in exercise_histories %}
        <li>
          <ul>
            <li>{{exercise_history.exercised_at.start}}-{{exercise_history.exercised_at.end}} {{exercise_history.exercise_routine_duration|duration:"(i분)"}}</li>
            {% if exercise_history.exercise_review %}
              <li>
                <ul>
                  <li>{{exercise_history.exercise_review.rating}}</li>
                  <li>{{exercise_history.exercise_review.comment}}</li>
                  <li>{{exercise_history.exercise_review.emoji}}</li>
                </ul>
                <form
                  action="{% url 'exercises:exercise_review_update' pk=exercise_history.exercise_review.id %}"
                  method="post"
                >
                  {% csrf_token %}
                  <input name="rating" type="number" min="1" max="5" />
                  <textarea name="comment"></textarea>
                  <button type="submit">운동 리뷰 수정</button>
                </form>
                <form
                  action="{% url 'exercises:exercise_review_delete' pk=exercise_history.exercise_review.id %}"
                  method="post"
                >
                  {% csrf_token %}
                  <button type="submit">운동 리뷰 삭제</button>
                </form>
                <form
                  action="{% url 'exercises:reacted_exercise_review_create_or_delete' exercise_review_id=exercise_history.exercise_review.id %}"
                  method="post"
                >
                  {% csrf_token %}
                  <fieldset>
                    <label>
                      <input name="emoji" type="radio" id="emoji-1" value="1" />
                      😣
                    </label>
                    <label>
                      <input name="emoji" type="radio" id="emoji-2" value="2" />
                      😑
                    </label>
                    <label>
                      <input name="emoji" type="radio" id="emoji-3" value="3" />
                      😌
                    </label>
                    <label>
                      <input name="emoji" type="radio" id="emoji-4" value="4" />
                      😶
                    </label>
                    <label>
                      <input name="emoji" type="radio" id="emoji-5" value="5" />
                      😊
                    </label>
                  </fieldset>
                  <button type="submit">운동 리뷰 반응 추가/삭제</button>
                </form>
              </li>
            {% endif %}
          </ul>
        </li>
      {% endfor %}
    </ol>
  </section>
  <section>
    {{exercise_reviews}}
  </section>
</body>
</html>