<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>운동방 페이지</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>순서</th>
        <th>운동</th>
        <th>난이도</th>
      </tr>
    </thead>
    <tbody>
      {% for item in exercise_routine %}
      <tr>
        <td>{{item.order}}</td>
        <td>{{item.exercise}}</td>
        <td>{{item.difficulty}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'exercises:test_exercise_end' %}">운동 끝!</a>
</body>
</html>