{% extends "../../example/base_side_right.html" %}
{% load static %} 

{% block plus_style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/signup_page.css' %}" />
{% endblock plus_style %} 

{% block plus_script %}
<script src="{% static 'functions/page_functions/onboarding_pages/login_page.js' %}" defer></script>
{% endblock plus_script %}

{% block mainMessage %}
  <span id="welcome_text">
      어서오세요<br />
      피포미 회원이신가요?
  </span>
  <span id="login_text" style="opacity: 0; transition: opacity 1s;">
    이메일과 비밀번호를 입력해주세요
  </span>
{% endblock mainMessage %}

{% block right %}
  {% include "../../components/login_component.html" %}
{% endblock right %}
