{% extends "../../components/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/page_component.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/onboarding_2.css' %}">
{% endblock style %} 
{% block script %}
{% endblock script %}

{% block body %}
<body>

    <header class="top_section">
        <section class="top_bar">
            <img src="{% static 'assets/img/logo.png' %}" alt="로고" class="logo_image" />
            </section>
    </header>
    
    <main class="main_layout">
    <section class="content_area">
      <section class="content_left">
        <div class="ment_hugger">
            회원가입이 완료되었습니다
            <div class="line"></div>
            <p>
                3가지의 질문에 답변해주세요
            </p>
        </div>
      </section>
      <section class="content_right">
        <!-- 오른쪽 컨텐츠 영역 -->
        <div class="next_page"><a href="{% url 'frontend:lastmenstruationpage' %}">&gt;</a></div>
      </section>
    </section>
  </main>
</body>

{% endblock body %}