{% extends "../../example/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/onboarding_base.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/onboarding_3.css' %}" />
{% endblock style %}
{% block script %}
<script src="{% static 'functions/page_functions/onboarding_pages/onboarding_3.js' %}"></script>
{% endblock script %}
{% block body %}
<body>
    <header class="top_section">
        <section class="top_bar">
            <img src="{% static 'assets/img/logo.png' %}" alt="로고" class="logo_image" />
        </section>
    </header>
  <main class="main_layout">
    <section class="content_left">
      <div class="ment_hugger">
        <img src="{% static 'assets/img/star_highlight.png' %}" alt="피포미 별" />
            <p><b>
              아주 좋아요!
            </b></p>            
            <p><b>
              사용자의 맞춤 정보를 파악했어요
            </b></p>            
            <p><b>
              이제 시작해볼까요?
            </b></p>
        </div>
        <div class="before_page"><a href="{% url 'frontend:purposepage' %}">
          <img src="{% static 'assets/img/left.png' %}" alt="뒤로가기" class="left_right"/>
        </a></div>
    </section>

    <!-- 중앙 인덱스 모양 경계선 -->
    <section class="index_separator"></section>
    <div class="index_bookmark"><div><span class="star star4"></span> </div></div>

    <section class="content_right">
      <section class="star_background">
        <span class="star star1"></span> <span class="star star2"></span> <span class="star star1"></span>
        <span class="star star7"></span> <span class="star star6"></span> <span class="star star8"></span>
        <span class="star star20"></span> <span class="star star10"></span>
        <span class="star star3"></span> <span class="star star14"></span> <span class="star star15"></span>
        <span class="star star10"></span> <span class="star star18"></span><span class="star star20"></span>
      </section>
        <img src="{% static 'assets/img/happy_pipi_hugging.png' %}" alt="피피 웃는 얼굴" class="pipi"/>
        <img src="{% static 'assets/img/logo.png' %}" alt="로고" class="logo_big"/>
        <button type="submit" value="시작하기" id="done_submitbtn">시작하기</button>
    </section>
  </main>
</body>
{% endblock body %}
