{% extends "../../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/page_component.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/onboarding_2.css' %}">
{% endblock style %} 
{% block script %}
{% endblock script %}

{% block body %}
<body>

    <header class="top_section">
        <section class="top_bar">
            <img src="{% static 'assets/img/logo.png' %}" alt="로고" class="logo_image" />
            </section>
    </header>
    
    <main class="main_layout">
    <section class="content_area">
      <section class="content_left">
        <div class="ment_hugger">
            <img src="{% static 'assets/img/star_highlight.png' %}" alt="피포미 별" />
            <p><b>
            회원가입이 완료되었습니다
            </b></p>
            <p><b>
                2가지의 질문에 답변해주세요
            </b></p>
        </div>
      </section>
      <section class="content_right">
        <img src="{% static 'assets/img/2_selection_pipi.png' %}" alt="질문 두개 피피" class="pipi"/>
        <div class="next_page"><a href="{% url 'frontend:lastmenstruationpage' %}">
          <img src="{% static 'assets/img/right.png' %}" alt="진행하기" class="left_right"/>
        </a></div>
      </section>
    </section>
  </main>
</body>

{% endblock body %}