{% extends "../../example/base_side_right.html" %}
{% load static %} 

{% block plus_style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/onboarding_1.css' %}" />
{% endblock plus_style %} 

{% block mainMessage %}
  <span>어서오세요</span>
  <br />
  <span>AI 피피가 월경 주기에 맞는 루틴을 추천해드려요</span>
  <br />
  <span class="subtext">오른쪽 하단에 다음 버튼을 눌러주세요</span>
{% endblock mainMessage %}

{% block right %}
  <img src="{% static 'assets/img/welcoming_pipi.png' %}" alt="반겨주는 피피" class="pipi" />
  <div class="next_page"><a href="{% url 'frontend:signuppage' %}">
    <img src="{% static 'assets/img/right.png' %}" alt="진행하기" class="left_right"/>
  </a></div>
{% endblock right %}
