{% extends "../../example/base.html" %}
{% load static %} 
{% block plus_style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/onboarding_3.css' %}" />
{% endblock plus_style %} 

{% block mainMessage %}
<p><b>
  아주 좋아요!
</b></p>            
<p><b>
  사용자의 맞춤 정보를 파악했어요
</b></p>            
<p><b>
  이제 시작해볼까요?
</b></p>
{% endblock mainMessage %}
{% block left %}
  <div class="before_page"><a href="{% url 'frontend:purposepage' %}">
    <img src="{% static 'assets/img/left.png' %}" alt="뒤로가기" class="left_right"/>
  </a></div>
{% endblock left %}

{% block right %}
    <img src="{% static 'assets/img/happy_pipi_hugging.png' %}" alt="피피 웃는 얼굴" class="smile_pipi"/>
    <img src="{% static 'assets/img/logo.png' %}" alt="로고" class="logo_big"/>
    <a href="{% url 'frontend:cyclepage' %}">시작하기</a>
{% endblock right %}
