{% extends "../../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/null.css' %}" />
<link rel="stylesheet" href="{% static 'styles/component_styles/page_component.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/onboarding_2.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/mypage_main.css' %}" />
{% endblock style %} 


{% block script %}
{% endblock script %}


{% block body %}
<body>

    <header class="top_section">
        <section class="top_bar">
            <img src="{% static 'assets/img/logo.png' %}" alt="로고" class="logo_image" />
        </section>
    </header>
    
    <main class="main_layout">
    <section class="content_area">
        <section class="content_left">
        <div class="ment_hugger">
        <img src="{% static 'assets/img/star_highlight.png' %}" alt="피포미 별" />
            <p><b>
            회원가입이 완료되었습니다
            </b></p>
            <p><b>
                2가지의 질문에 답변해주세요
            </b></p>
        </div>
      </section>
    <nav class="sidebar_nav" aria-label="페이지 네비게이션">
        <p class="nav_button nav_button1"></p>   
        <div class="nav_line"></div>
        <div class="nav_line"></div>
        </nav>

      <section class="content_right">
        <section class="star_background">
            <span class="star star5"></span> <span class="star star6"></span> <span class="star star7"></span> <span class="star star8"></span>
            <span class="star star9"></span><span class="star star11"></span> <span class="star star12"></span>
            <span class="star star13"></span> <span class="star star14"></span> <span class="star star15"></span> <span class="star star16"></span>
        </section>
        <!-- 오른쪽 컨텐츠 영역 -->
      <img src="{% static 'assets/img/2_selection_pipi.png' %}" alt="질문 두개 피피" class="two_pipi"/>
        <div class="next_page"><a href="{% url 'frontend:lastmenstruationpage' %}">
          <img src="{% static 'assets/img/right.png' %}" alt="진행하기" class="left_right"/>
        </a></div>       
    </section>
    </section>
  </main>
</body>

{% endblock body %}