{% extends "../../components/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/page_component.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/preference_page.css' %}">
{% endblock style %} 
{% block script %}
{% endblock script %}

{% block body %}
<body>

    <header class="top_section">
        <section class="top_bar">
            <img src="{% static 'assets/img/logo.png' %}" alt="로고" class="logo_image" />
            </section>
    </header>
    
    <main class="main_layout">
    <section class="content_area">
      <section class="content_left">
        <div class="ment_hugger">
            <div class="steps"><p class="perstep"></p><p class="perstep"></p><p class="perstep"></p></div>
            <p>당신의 <b>운동 취향</b>을 <b>우선순위</b>에 따라 선택해주세요.</p>
            <p id="default_msg">복수 선택 3개 가능</p>
            <div class="selected_showingbox">
                <p id="selected_keywords"><span id="selected-text"></span></p>
            </div>
        </div>
        <div class="before_page"><a href="{% url 'frontend:lastmenstruationpage' %}">&lt;</a></div>

      </section>
      <section class="content_right">
        {% include "../../components/preference_component.html" %}
        <div class="next_page"><a href="{% url 'frontend:purposepage' %}">&gt;</a></div>
      </section>
    </section>
  </main>
</body>

{% endblock body %}