{% extends "../../example/base_side_right.html" %}
{% load static %} 
{% block plus_style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/signup_page.css' %}" />
{% endblock plus_style %} 

{% block plus_script %}
<script src="{% static 'functions/page_functions/onboarding_pages/purpose_page.js' %}"></script>
{% endblock plus_script %}

{% block mainMessage %}
  <p>
    <b>
    먼저 회원가입을 해볼까요?
    </b>
  </p>
  <p>
    <b>이메일과 비밀번호를 입력해주세요</b>
  </p>
{% endblock mainMessage %}

{% block right %}
  {% include "../../components/signup_component.html" %}
{% endblock right %}
