{% extends "../../components/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/page_component.css' %}" />
<link rel="stylesheet" href="{% static 'styles/page_styles/onboarding_pages/signup_page.css' %}">
{% endblock style %} 
{% block script %}
{% endblock script %}

{% block body %}
<body>

    <header class="top_section">
        <section class="top_bar">
            <img src="{% static 'assets/img/logo.png' %}" alt="로고" class="logo_image" />
            </section>
    </header>
    
    <main class="main_layout">
    <section class="content_area">
      <section class="content_left">
        <div class="ment_hugger">
            <img src="{% static 'assets/img/star_highlight.png' %}" alt="피포미 별" />
            <p>
            <b>
            먼저 회원가입을 해볼까요?
            </b>
            </p>
            <p>
            <b>이메일과 비밀번호를 입력해주세요</b>
            </p>
        </div>
        <div class="before_page"><a href="{% url 'frontend:onboarding_1' %}">
          <img src="{% static 'assets/img/left.png' %}" alt="뒤로가기" class="left_right"/>
        </a></div>
      </section>
      <section class="content_right">
        {% include "../../components/signup_component.html" %}
      </section>
    </section>
  </main>
</body>

{% endblock body %}