.line{
    height:50px;
    border-left: 1px solid black;
    margin: 10px 0;
}
.ment_hugger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content_left{
    display: flex;
    justify-content: center;
    align-items: center;

}
.content_right{
    display: flex;
    justify-content: center;
    align-items: center;

}

.next_page{
    position: absolute;
    bottom:0;
    right:0;
    font-size:50px;
    color:gray;
    margin: 20px 30px;
}
.next_page a{
    text-decoration: none;  
    color:inherit;
}