{% extends "../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/page_common.css' %}" />
{% endblock style %} 



{% block body %}
        <section class="star_background">
            <section class="star_background">
            <span class="star star1"></span> <span class="star star2"></span> <span class="star star3"></span> <span class="star star4"></span>
            <span class="star star5"></span> <span class="star star6"></span> <span class="star star7"></span> <span class="star star8"></span>
            <span class="star star9"></span> <span class="star star10"></span> <span class="star star11"></span> <span class="star star12"></span>
            <span class="star star13"></span> <span class="star star14"></span> <span class="star star15"></span> <span class="star star16"></span>
            <span class="star star17"></span> <span class="star star18"></span> <span class="star star19"></span> <span class="star star20"></span>
        </section>
{% endblock body %}