{% extends "../example/base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/calendar_component.css' %}" />
{% endblock style %}

{% block body %}
<section class="calendar_container">
  <header class="calendar_header">
    <h2 class="calendar_title">{{ calendar_year }}년 {{ calendar_month }}월</h2>
  </header>

  <section class="calendar_body_wrapper">
    <section class="calendar_weekdays">
      <span>Su</span><span>Mo</span><span>Tu</span>
      <span>We</span><span>Th</span><span>Fr</span><span>Sa</span>
    </section>

    <section class="calendar_days">
      {% for day in calendar_days %}
        <div class="calendar_day
                    {% if day.is_today %} today {% endif %}
                    {% if day.phase %} highlight_{{ day.phase }} {% endif %}">
          {{ day.day }}
          {% if day.has_review %}
            <img src="{% static 'assets/img/star_calendar_icon.png' %}" 
                 alt="review star" class="review_star_icon"/>
          {% endif %}
        </div>
      {% endfor %}
    </section>

    <div class="calendar_legend">
      <div class="legend_item pink"><span>월경기</span></div>
      <div class="legend_item yellow"><span>난포기</span></div>
      <div class="legend_item blue"><span>배란기</span></div>
      <div class="legend_item gray"><span>황체기</span></div>
    </div>
  </section>
</section>

{% endblock body %}