{% extends "../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/page_common.css' %}" />
{% endblock style %} 



{% block body %}
<div class="friend_box">
    <div class="friend_item">
        <a href="/mypage">
            <img src="{% static 'assets/img/icon.png' %}" alt="친구 아이콘" class="friend_icon" />
        </a>
        <p class="friend_name">나</p>
    </div>
    <div class="friend_item">
        <a href="/friendpage">
            <img src="{% static 'assets/img/icon.png' %}" alt="친구 아이콘" class="friend_icon" />
        </a>
        <p class="friend_name">친구1</p>
    </div>
    <div class="friend_item">
        <img src="{% static 'assets/img/icon.png' %}" alt="친구 아이콘" class="friend_icon" />
        <p class="friend_name">친구2</p>
    </div>
    <div class="friend_item">
        <img src="{% static 'assets/img/icon.png' %}" alt="친구 아이콘" class="friend_icon" />
        <p class="friend_name">친구3</p>
    </div>
    <div class="friend_item">
        <img src="{% static 'assets/img/icon.png' %}" alt="친구 아이콘" class="friend_icon" />
        <p class="friend_name">친구4</p>
    </div>
    <div class="friend_item">
        <img src="{% static 'assets/img/icon.png' %}" alt="친구 아이콘" class="friend_icon" />
        <p class="friend_name">친구5</p>
    </div>
    <div class="plus_friend">
        <img src="{% static 'assets/img/plus_button.png' %}" alt="친구 추가 아이콘" class="plus_friend" />
    </div>
</div>
{% endblock body %}