{% extends "../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/page_styles/page_common.css' %}" />
{% endblock style %} 



{% block body %}
        <div class="info_box">
          <div class="info_content">
            <div class="profile_image_wrapper">
             <img src="{% static 'assets/img/icon.png' %}" alt="아이콘"
             class="icon_image2 {% if is_editable %}editable_icon{% endif %}" />
            </div>
            <div class="info_text_group">
              <h3 class="info_title">{{ request.user.nickname }}</h3>
              <p class="info_text">{{ request.user.bio }}</p>
              <div class="tags">
                {% for goal in goal_labels %}
                  <span class="preference_tag">{{ goal }}</span>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>

{% endblock body %}