{% extends "../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/page_component.css' %}" />
{% endblock style %} 
{% block script %}
<script src="{% static 'functions/component_functions/calendar_component.js' %}"></script>
{% endblock script %}

{% block body %}
<body>

    <header class="top_section">
        <section class="top_bar">
            <img src="{% static 'assets/logo.png' %}" alt="로고" class="logo_image" />
            </section>
    </header>
    
    <main class="main_layout">
    <section class="content_area">
      <section class="content_left">
        <!-- 왼쪽 컨텐츠 영역 -->
      </section>
      <section class="content_right">
        <!-- 오른쪽 컨텐츠 영역 -->
      </section>
    </section>

    <nav class="sidebar_nav" aria-label="페이지 네비게이션">
      <button class="nav_button nav_button1">주기별</button>
      <button class="nav_button nav_button2">취향별</button>
      <button class="nav_button nav_button3">스크랩</button>
      <button class="nav_button nav_button4">월경</button>
    </nav>
  </main>
</body>

{% endblock body %}