{% extends "../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/review_component.css' %}" />
{% endblock style %} 
{% block script %}
<script src="{% static 'functions/component_functions/review_component.js' %}"></script>
{% endblock script %}

{% block body %} 
  <div class="bighugger">
    <div class="contentbox">
      
      <div class="review_toprow">
        <span class="time_range">07:00~07:20 (20분)</span>
        {% include "./star_component.html" %}
      </div>

      <div class="review_text">
        <textarea placeholder="오늘 루틴에 대해 리뷰를 남겨주세요!" id="text_input"></textarea>
      </div>
        <div class="review_footer">
          <button class="icon_btn" id="editbtn">
            <img src="{% static 'assets/img/rewrite.png' %}" alt="수정" />
          </button>
          <button class="icon_btn" id="resetbtn">
            <img src="{% static 'assets/img/trashcan.png' %}" alt="삭제" />
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
