{% extends "../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/review_component.css' %}" />
{% endblock style %} 
{% block script %}
<script src="{% static 'functions/component_functions/review_component.js' %}"></script>
{% endblock script %}

{% block body %} 
    <div class="bighugger">
      <div class="starscore">
        <span class="star_per">★</span>
        <span class="star_per">★</span>
        <span class="star_per">★</span>
        <span class="star_per">★</span>
        <span class="star_per">★</span>
      </div>
      <form method="get">
        <div class="contentbox">
        <div class="texting">
          <div class="line_background"></div>
          <textarea placeholder="운동 리뷰를 남겨주세요!" id="text"></textarea>
        </div>
        <div class="btnhugger">
          <button type="submit" value="저장" id="savebtn">저장</button>
        </div>
        </div>
      </form>
    </div>
{% endblock body %}
