{% extends "./base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/signup_component.css' %}" />
{% endblock style %} 
{% block script %}
<script src="{% static 'functions/component_functions/signup_component.js' %}"></script>
{% endblock script %}

{% block body %} 
    <div class="container">
        <form id="signup_form">
            <div class="text_input_hugger">
                <label for="email">이메일</label><br />
                <input type="text" id="email" placeholder="예&#41; Fitforme@example.com" />
            </div>
            <div class="text_input_hugger">
                <label for="password">비밀번호</label><br />
                <input type="password" id="password" placeholder="영문, 숫자, 특수문자 조합 8~16자" /><br />
            </div>
            <div class="text_input_hugger">
                <label for="repassword">비밀번호 확인</label><br />
                <input type="password" id="repassword" placeholder="비밀번호를 다시 입력해주세요." /><br />
            </div>
            <button type="submit" value="회원가입" id="signup_submitbtn">회원가입</button>
        </form>
    </div>
{% endblock body %}
