{% extends "../example/base.html" %}
{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'styles/component_styles/signup_component.css' %}" />
{% endblock style %} 
{% block script %}
<script src="{% static 'functions/component_functions/signup_component.js' %}"></script>
{% endblock script %}

{% block body %} 
    <div class="container">
        <form id="signup_form" method="post" action="{% url 'accounts:signup_onboarding1' %}">
            {% csrf_token %}
            <div class="text_input_hugger">
                <div class="input_label_row">
                    <label for="email">이메일</label>
                    <span class="input_error_message" id="email_error"></span>
                </div>
                <input type="email" name="email" id="email" placeholder="예) Fitforme@example.com" required />
            </div>
            <div class="text_input_hugger">
                <div class="input_label_row">
                    <label for="password">비밀번호</label>
                    <span class="input_error_message" id="password_error"></span>
                </div>
                <input type="password" name="password1" id="password" placeholder="영문, 숫자, 특수문자 조합 8~16자" required />
            </div>
            <div class="text_input_hugger">
                <div class="input_label_row">
                    <label for="repassword">비밀번호 확인</label>
                    <span class="input_error_message" id="repassword_error"></span>
                </div>
                <input type="password" name="password2" id="repassword" placeholder="비밀번호를 다시 입력해주세요." required />
            </div>
            <button type="submit" id="signup_submitbtn">회원가입</button>
        </form>
    </div>
{% endblock body %}
